* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("/assets/fonts/SourceSansPro-Regular.otf") format("truetype");
}

main {
  position: relative;
  width: 50%;
  height: 80%;
  margin: 2% auto 0 auto;
  border: 1px solid black;
  font-family: 'SourceSansPro', sans-serif;
}

.avatar {
  display: inline-block;
  width: 64px;
}

header {
  padding: 12px;
  background-color: gray;
  text-align: center;
  font-family: 'SourceSansPro', sans-serif;
}

header ul {
  margin-bottom: 12px;
}

header ul li {
  margin: 0 8px;
  display: inline;
}

header label {
  margin: 0 12px;
}

header input[type=submit] {
  padding: 8px;
  border: none;
  background-color: #444444;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

header input[type=submit]:hover {
  padding: 6px;
  background-color: gray;
  border: 2px solid #444444;
}

header a {
  text-decoration: none;
  color: #d6d6d6;
}

header a:hover {
  color: white;
}

header a :visited {
  text-decoration: none;
  color: #d6d6d6;
}

#chat {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#chat iframe {
  width: 100%;
  height: 100%;
}

#chat .message-box {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#chat .message-box form {
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
}

#chat .message-box form textarea {
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  resize: none;
}

#chat .message-box form input[type=submit] {
  float: right;
  width: 20%;
  height: 100%;
  margin: 0;
  border: none;
}

.items-collection {
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.items-collection .message {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  margin: 6px 0 12px 0;
  padding: 20px;
  background-color: rgba(241, 175, 175, 0.5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3), -4px 4px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-family: 'SourceSansPro', sans-serif;
}

.items-collection .message:not(.myself) {
  margin-left: 2%;
}

.items-collection .message:nth-child(odd) {
  background-color: rgba(255, 189, 103, 0.5);
}

.items-collection .message:nth-child(even) {
  background-color: rgba(103, 194, 255, 0.5);
}

.items-collection .message.myself {
  margin-left: 8%;
  background-color: rgba(103, 255, 154, 0.5);
}

.items-collection .message:last-child {
  margin-bottom: 8vh;
}

.items-collection .message p {
  margin: 1px 4px;
  padding: 8px 24px 16px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.items-collection .message p:hover {
  background-color: white;
}

.items-collection .message a.delete {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 0 4px 2px;
  margin-right: 3px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}

.items-collection .message a.delete:hover {
  color: red;
  border-color: red;
  background-color: white;
}

.items-collection .message-header {
  margin-bottom: 8px;
  padding-left: 4px;
  border-left: 4px solid rgba(0, 0, 0, 0.3);
}

.items-collection .message-header:hover {
  border-left: 4px solid white;
}

.items-collection .message-header a {
  text-decoration: none;
  color: black;
}

.items-collection .message-header a:hover {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.items-collection .message-header a:hover .avatar {
  border: 1px solid white;
}

.items-collection .message-header .avatar {
  width: 32px;
  margin-right: 8px;
  margin-left: 4px;
  border-radius: 8px;
  border: 1px solid black;
}

img.emoticon {
  position: relative;
  top: 2px;
}

footer {
  width: 100%;
  height: 32px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 189, 103, 0.5);
}

#member-page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 24px;
}

#member-page header {
  width: 100%;
  margin-bottom: 12px;
  padding: 0;
  padding-bottom: 12px;
  background: none;
  border-bottom: 1px solid black;
  text-align: left;
}

#member-page header .avatar {
  position: absolute;
  top: 24px;
  right: 24px;
}

#member-page h2, #member-page h3 {
  padding-bottom: 12px;
}

#member-page section {
  width: 50%;
  height: 60vh;
}

.item h4 {
  padding: 12px 0;
}

.item p {
  padding-left: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid black;
  border-left: 8px solid rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=main.css.map */